
doctype html 
html 
    include ./layout/header.pug 
    body 
        include ./layout/nav.pug
        include ./layout/home.pug
        include ./layout/about.pug
        include ./layout/services.pug
        include ./layout/Portfolio.pug
        include ./layout/blog.pug
        include ./layout/message.pug

    include ./layout/footer.pug
     
