div(id="about" class="about-bg text-white px-20 py-15 gap-4 flex justify-between items-center my-10 h-[80vh]")
    img(src="./images/about-left-image.png", alt="", class="w-[29%] pt-14 transition delay-300" data-aos="zoom-in")
    div(class="grid grid-cols-2 gap-5 transition delay-500" data-aos="zoom-in") 
        div(class="flex gap-4 justify-center items-center") 
            img(src="./images/service-icon-01.png", class="w-16 h-16", alt="")
            div(class="flex flex-col gap-2") 
                h2(class=" text-2xl font-bold") Data Analysis
                p(class="w-[22vw] text-wrap font-semibold" ) Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter
        div(class="flex gap-4 justify-center items-center")  
            img(src="./images/service-icon-02.png", class="w-16 h-16", alt="")
            div(class="flex flex-col gap-2")  
                h2(class=" text-2xl font-bold")  Data Reporting
                p(class="w-[22vw] text-wrap font-semibold" )  Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter
        div(class="flex gap-4 justify-center items-center")  
            img(src="./images/service-icon-03.png", class="w-16 h-16" , alt="")
            div(class="flex flex-col gap-2")  
                h2(class=" text-2xl font-bold") Web Analytics
                p(class="w-[22vw] text-wrap font-semibold" ) Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter
        div(class="flex gap-4 justify-center items-center")  
            img(src="./images/service-icon-04.png" , class="w-16 h-16", alt="")
            div 
                h2(class=" text-2xl font-bold") SEO Suggestions
                p(class="w-[22vw] text-wrap font-semibold" ) Lorem ipsum dolor sit amet, ctetur aoi adipiscing eliter