footer(class="flex flex-col gap-1 font-sans font-mono py-10 text-[1.1rem] text-gray-600 items-center justify-center py-15")
    h5(class=" -tracking-wider")  © Copyright 2021 Space Dynamic Co. All Rights Reserved.
        h5(class=" tracking-wider") Design: 
            span(class="text-red-600") TemplateMo



    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
    script(src="https://cdn.tailwindcss.com")
    //- script(src=".././tailwind.config.js")
    script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")
    script(src="./js/index.js") 
    script.
        AOS.init();
        new WOW().init()
        var checkHover = false 
        const onhover = (idHover, idHidden)=>{
            
        }

