head 
   meta(charset="UTF-8")
   meta(name="viewport", content="width=device-width, initial-scale=1.0")
   meta(name="google", content="notranslate")  
   title Document
   link(rel="stylesheet", href="styles.css")
   link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
   style.
      input::placeholder {
      color: black; 
      opacity: 1; 
      } 