div(class="px-20 py-10 flex justify-center items-center" id="") 
    div(class="flex flex-col gap-8 pr-10")
        h3(class="font-sans text-red-500 text-xl uppercase font-semibold") welcome to Space Dynamic
        h1(class="tracking-wider leading-tight uppercase w-[48vw] text-wrap" style="font-size : 50px; font-weight : 800") We make 
            span(class="text-cyan-500") digital ideas
            span  & 
            span(class="text-red-500") SEO 
            span marketing  
        p(class="tracking-wide text-[20px] w-[45vw] text-wrap font-semibold text-gray-700") Space Dynamic is a professional looking HTML template using a Bootstrap 5 (beta 2). This CSS template is free for you provided by 
            span(class="text-cyan-500") TemplateMo.

        div(class="rounded-full flex justify-between bg-cyan-500 px-5 py-3 text-gray-700 mr-14") 
            input(class=" bg-white rounded-3xl px-5 text-gray-700 w-[60%]" style="color: white" type="text" placeholder="Your website URL.....")
            div(class=" w-[35%] px-6 py-3 rounded-full text-red-500 bg-white text-center font-bold") Analyze Site 
    div 
        img(src="./images/banner-right-image.png", alt="")