div(class="px-20 py-10 grid grid-cols-2 gap-2 justify-center items-center", id="services")
    img(src="./images/services-left-image.png", class="transition delay-700", alt="", data-aos="fade-left")
    div(class="h-[80vh] transition delay-700" data-aos="fade-right")
        div(class="flex flex-col gap-5")
            h1(class="-tracking-tighter leading-10 text-gray-700 uppercase w-[43vw] mt-1text-wrap" style="font-size : 30px; font-weight : 700") Grow your website with our 
                span(class="text-cyan-500") SEO 
                span service & 
                span(class="text-red-500") Project 
                span Ideas 
            p(class="my-5 font-sans text-gray-700 tracking-wider font-semibold text-[16px] w-[43vw] break-all") Space Dynamic HTML5 template is free to use for your website projects. However, you are not permitted to redistribute the template ZIP file on any CSS template collection websites. Please contact us for more information. Thank you for your kind cooperation.
            div(class="flex flex-col gap-7 mt-10") 
                div(class="grid grid-cols-12 gap-y-2 mt-3") 
                    div(class="col-span-8 font-sans font-bold text-gray-800 text-xl") Website Analysis 
                    div(class="col-span-4 text-xl font-semibold text-cyan-500") 84%
                    div(class="h-2 rounded-full bg-red-500 col-span-8")
                    div(class="h-2 rounded-right-full bg-gray-200 col-span-4") 
                div(class="grid grid-cols-12 gap-y-2 mt-3") 
                    div(class="col-span-9 font-sans font-bold text-gray-800 text-xl") SEO Reports
                    div(class="col-span-3 text-xl font-semibold text-cyan-500") 88%
                    div(class="h-2 rounded-full bg-red-500 col-span-10")
                    div(class="h-2 rounded-right-full bg-gray-200 col-span-2") 
                div(class="grid grid-cols-12 gap-y-2 mt-3") 
                    div(class="col-span-10 font-sans font-bold text-gray-800 text-xl") Page Optimizations
                    div(class="col-span-2 text-xl font-semibold text-cyan-500") 94%
                    div(class="h-2 rounded-full bg-red-500 col-span-11")
                    div(class="h-2 rounded-right-full bg-gray-200 col-span-1") 